{% extends 'base.html' %}

{% block content %}

<h2>VERSION 1.0.0</h2>
 	<hr>
	 <div class="container">
		<div class="description">
		  <h2>We are a team of five final-year students from MITRC College, passionate about
			leveraging technology to create meaningful solutions. Our project focuses on
			developing an innovative tool that converts speech and text into sign language
			animations using Blender 3D, aimed at aiding individuals with communication 
			difficulties. With diverse skill sets in programming, design, and research, 
			we collaborated intensively to ensure our project reflects our commitment and
			creativity. We dedicated ourselves to this initiative, striving for excellence
			and inclusivity, and we believe our work can make a significant impact on the 
			lives of specially-abled individuals.</h2>
		
		</div>
		
		<div class="team">
		  <h2 style="font-family:Times">Our Creator Team:</h2>
		  <ul class="td">
			<li>RAVI KUMAR</li>
			<li>ROHAN JONWAL</li>
			<li>VISHAL</li>
			<li>PUNIT CHAUDHARY</li>
			<li>NEERAJ SAINI</li>
		  </ul>
		</div>
	  </div>
	  
	<hr>
	<p class="td">Thank you, For visiting our website</p>
{% endblock %}
